.view {
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

.view--compare {
	-webkit-transform: scale3d(0.9,0.9,1);
	transform: scale3d(0.9,0.9,1);
}

.header {
	margin: 0 auto;
	padding: 1em 1em;
	max-width: 1200px;
	overflow: hidden;
	background-color: #fff;
}

.logo {
float:left;
display: block;
max-width:230px;
max-height:95px;
width: auto;
height: auto;
}

.navbar-default {
    background: #ffffff;
    border: none;
    margin: 0 !important;
}

.navbar-default .navbar-brand {
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}
.navbar-default .navbar-brand strong {
  color: #3c93ef;
}

.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #3c93ef !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #3c93ef;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav .active > a {
    color: #3c93ef;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #3c93ef;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/*hero banner */
.main {
  background: url('../images/main-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.main-about,
.main-gallery, .main-pricing,
.main-contact {
  height: 50vh !important;
  text-align: center;
}

.main-about {
  background: url('../images/main-about-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.main-gallery {
  background: url('../images/main-gallery-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.main-pricing {
  background: url('../images/main-pricing-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.main-contact {
  background: url('../images/main-contact-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  height: 50vh;
}

#home h3 {
  padding-top: 22px;
}

#home .btn {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 12px 22px;
  margin-top: 28px;
	border:none;
	border-radius: 4px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.4s ease-in-out;
}

#home h1 {
  color: #333;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

#home h2 {
  color: #555;
  font-size: 1.2rem;
  font-weight: bold;
}

#home h3 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/*featured sections */

#feature h2 {
  padding-bottom: 12px;
}

#feature .feature-thumb {
  position: relative;
  margin-top: 32px;
}

#feature .feature-icon .fa {
  background-color: #f9f9f9;
  font-size: 32px;
  color: #333;
  width: 100px;
  height: 100px;
  line-height: 100px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

/*intro section */
.intro-info {
	margin: 2em auto;
	padding: 2em 1em;
	max-width: 1200px;
	text-align: center;
	overflow: hidden;
	background-color: #fff;
}

/* product grid */
.grid {
	margin: 0 auto;
	max-width: 1200px;
	text-align: center;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* if flexbox is supported, let's use it to lay out the products */
.flexbox .grid {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

/* home offers */

.offer {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-width: 20em;
	margin: 0 1em 1em;
	padding: 0 0 1.5em 0;
	background: #fff;
	border-radius: 5px;
}

.product__info > span {
	display: block;
}

.offer__image {
	display: block;
	margin: 0 auto 1em auto;
	max-width: 100%;
	height: 100px;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	background-color: #3c93ef;
	border-radius: 5px;
}

.offer__image_shake {
	display: block;
	margin: 0 auto 1em auto;
	max-width: 100%;
	height: 100px;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	background-image: url('shakes1.jpg');
	border-radius: 5px;
}

.offer__image_shake2 {
	display: block;
	margin: 0 auto 1em auto;
	max-width: 100%;
	height: 100px;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	background-image: url('shakes2.jpg');
	border-radius: 5px;
}

.offer__image_nutrition {
	display: block;
	margin: 0 auto 1em auto;
	max-width: 100%;
	height: 100px;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	background-image: url('nutrition.jpg');
	border-radius: 5px;
}

.section-heading {
	font-size: 1.5em;
	text-align: center;
	color: #333;
	margin: 1em auto 1em auto;
}

.grid_link{
	text-align: center;
	color: #333;
margin: 0em auto 1.5em auto;
}

.offer_copy{
	font-size: 1.2em;
	text-transform: uppercase;
	color:#fff;
	background-color: #3c93ef;
	border-radius: 5px 5px 0px 0px;
}

.offer_info {
	font-size: 0.9em;
	margin: 1em auto 0 auto;
	display: block;
	width:90%;
	text-align: center;
}

.offer_code {
	font-size: 1.2em;
	margin: 0 auto 0 auto;
	display: block;
	width:90%;
	text-align: center;
	color: #3c93ef;
}

/*home sales content */
.sales_content {
	display: block;
	text-align: center;
	width: 100%;
	background-color: #fff;
	height: 10em;
	margin: 1em 0 0.5em 0;
	padding: 1em;
}

.sales_content_title {
font-size: 1.5em;
margin-bottom: 1em;
color: #333;
}

.usp_bar {
	display: block;
	text-align: center;
	width: 100%;
	background-color: #fff;
	margin: 0em 0 0.5em 0;
	padding: 1em;
}

.usp {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-width: 10em;
	max-width: 20em;
	margin: 0.5em 1em 0.5em 1em;
	padding: 0 3em 0em 3em;
}

.usp_icon {
	font-size: 2em;
}

.usp__title {
	font-size: 0.9em;
}

.small_break {
	width:100%;
	display: block;
	height:5px;
}


/* product */
.product {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-width: 12em;
	margin: 0 1em 2.5em;
	padding: 1em 0 1.5em 0;
	background: #fff;
	border-radius: 5px;
}

.product--selected {
	box-shadow: 0 0 0 2px #3c93ef;
}

.flexbox .product {
	display: block;
	-webkit-flex: 0 0 16em;
	-ms-flex: 0 0 16em;
	flex: 0 0 16em;
}

/* product info */
.product__info > span {
	display: block;
}

/* since we'll be using the product info inside of the comparison, we'll hide the extra info for the grid view */
.grid .extra {
	display: none;
}

.product__image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.product:hover .product__image {
	-webkit-animation: swing 0.6s forwards;
	animation: swing 0.6s forwards;
}

/* https://daneden.github.io/animate.css/ */
@-webkit-keyframes swing {
	25% {
		-webkit-transform: rotate3d(0, 0, 1, 6deg);
		transform: rotate3d(0, 0, 1, 6deg);
	}

	50% {
		-webkit-transform: rotate3d(0, 0, 1, -4deg);
		transform: rotate3d(0, 0, 1, -4deg);
	}

	75% {
		-webkit-transform: rotate3d(0, 0, 1, 2deg);
		transform: rotate3d(0, 0, 1, 2deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

@keyframes swing {
  25% {
		-webkit-transform: rotate3d(0, 0, 1, 6deg);
		transform: rotate3d(0, 0, 1, 6deg);
	}

	50% {
		-webkit-transform: rotate3d(0, 0, 1, -4deg);
		transform: rotate3d(0, 0, 1, -4deg);
	}

	75% {
		-webkit-transform: rotate3d(0, 0, 1, 2deg);
		transform: rotate3d(0, 0, 1, 2deg);
	}

	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}

.product__title {
	font-size: 1.5em;
		margin-top: 1em;
}
.company__title {
	font-size: 0.8em;
	margin: 1em auto 0 auto;
	display: block;
	width:90%;
	text-align: center;
}

.product__point {
	font-size: 1em;
	margin-top: 1em;
}

.product__stars {
	font-size: 0.8em;
	margin-top: 1.5em;
}

.company-review {
	font-size: 0.7em;
}

.product__price {
	font-size: 2em;
	color: #3c93ef;
	margin-top: 0.5em;
}

.action {
	display: inline-block;
	font-size: 1em;
	white-space: nowrap;
	padding: 0.85em 1.25em;
	cursor: pointer;
	border: none;
	background: transparent;
	text-align: center;
}

.action:focus {
	outline: none;
}

.action--button {
	background: #3c93ef;
	color: #fff;
	border-radius: 2px;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
	margin-top: 1.5em;
}

.action--button:hover {
	background: #1873d4;
}

.action__text {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: .813em;
	vertical-align: middle;
	display: inline-block;
}

.action__text--invisible {
	position: absolute;
	top: 100%;
	opacity: 0;
	pointer-events: none;
}

.action--button i + span {
	margin-left: 1em;
}

.flexbox .action--buy {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	margin-top: 1em;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

.action--close {
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	font-size: 1.5em;
	color: #ddd;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity 0.3s, background 0.2s;
	transition: opacity 0.3s, background 0.2s;
}

.view--compare + .compare .action--close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition-delay: 0.4s, 0s;
	transition-delay: 0.4s, 0s;
}

.action--close:hover,
.action--close:focus {
	color: #797BED;
}

.action--compare {
	margin: 0 0 0 4px;
	opacity: 0;
	pointer-events: none;
	cursor: default;
	background-color: #34363D;
	color: #565B6C;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.compare-basket--active .action--compare {
	opacity: 1;
}

.compare-basket--active .action--compare:nth-child(3),
.compare-basket--active .action--compare:nth-child(4) {
	background-color: #3ebf59;
	color: #fff;
	pointer-events: auto;
	cursor: pointer;
}

.action--remove {
	position: absolute;
	overflow: hidden;
	color: #ddd;
	top: 0px;
	right: 2px;
	padding: 0;
	font-size: 0.65em;
}

.action--compare-add {
	color: #ddd;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #3c93ef;
}

.action--compare-add:hover .action__text--invisible {
	opacity: 1;
	top: 35px;
	right: 10px;
	color: #ddd;
	font-size: 75%;
	letter-spacing: 0;
	background: #2F3035;
	border-radius: 2px;
	padding: 3px 5px;
}

.action--remove:hover,
.action--compare-add:hover {
	color: #5C5EDC;
}

.action--compare-add .fa-check,
.action--compare-add input[type=checkbox]:checked ~ .fa-plus {
	display: none;
}

.action--compare-add input[type=checkbox]:checked ~ .fa-check {
	display: block;
	color: #5C5EDC;
}

.check-hidden {
	position: absolute;
	opacity: 0;
}

.compare-basket {
	width: 100%;
	padding: 0.75em;
	text-align: right;
	position: fixed;
	top: 0;
	left: 0;
	background: #212227;
	z-index: 1001;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.2,1,0.3,1);
	transition: transform 0.3s cubic-bezier(0.2,1,0.3,1);
}

.compare-basket--active {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.flexbox .compare-basket {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.product-icon {
	display: inline-block;
	vertical-align: middle;
	background: #42444F;
	width: 50px;
	height: 50px;
	padding: 5px;
	margin: 0 3px;
	border-radius: 2px;
	position: relative;
}

.product-icon::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 4px;
	z-index: -1;
	box-shadow: -56px 0 #2C2D34;
}

.compare-basket--full .product-icon::after {
	display: none;
}

.flexbox .product-icon {
	display: block;
}

/* comparison overlay */
.compare {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 0;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 1001;
	-webkit-transition: height 0s 0.4s;
	transition: height 0s 0.4s;
}

.flexbox .compare {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

.view--compare + .compare {
	pointer-events: auto;
	height: 100%;
	-webkit-transition: none;
	transition: none;
}

.compare::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.view--compare + .compare::before {
	opacity: 1;
}

.compare__item {
	height: 100%;
	width: 50%;
	background: #fff;
	text-align: center;
	cursor: default;
	padding: 2em 0;
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
	border-right: 3px black solid;
}

.no-flexbox .compare__item {
	display: inline-block;
	width: 50%;
}

.compare__item:nth-of-type(2) {
	background: #fff;
}

.compare__item .product__title {
	margin: 1em 0;
	min-height: 0;
}

.compare__item .product__price {
	color: #CECECE;
}

.compare__item span[class^="product__"] {
	display: block;
	padding: 0.85em 0;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.compare__item span[class^="product__"].hover {
	background: #000;
}

/* three items */
.compare__item:first-of-type:nth-last-of-type(3),
.compare__item:first-of-type:nth-last-of-type(3) ~ .compare__item {
    width: 33.3333%;
}

.flexbox .compare__item {
	-webkit-flex: auto;
	-ms-flex: auto;
	flex: auto;
}

.compare__item:nth-child(odd) {
	-webkit-transform: translate3d(0,-100vh,0);
	transform: translate3d(0,-100vh,0);
}

.compare__item:nth-child(even) {
	-webkit-transform: translate3d(0,100vh,0);
	transform: translate3d(0,100vh,0);
}

.view--compare + .compare .compare__item:nth-child(odd),
.view--compare + .compare .compare__item:nth-child(even) {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.compare__effect {
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.2, 1, 0.3, 1), opacity 1s cubic-bezier(0.2, 1, 0.3, 1);
	transition: transform 1s cubic-bezier(0.2, 1, 0.3, 1), opacity 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.compare__item:nth-child(odd) .compare__effect {
	-webkit-transform: translate3d(0,-250px,0);
	transform: translate3d(0,-250px,0);
}

.compare__item:nth-child(even) .compare__effect {
	-webkit-transform: translate3d(0,250px,0);
	transform: translate3d(0,250px,0);
}

.view--compare + .compare .compare__item:nth-child(odd) .compare__effect,
.view--compare + .compare .compare__item:nth-child(even) .compare__effect {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

@media screen and (min-width: 59.688em) {
	.flexbox .compare__effect {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.flexbox .compare__item .product__image {
		-webkit-align-self: center;
		-ms-flex-align: center;
		align-self: center;
		-webkit-flex: none;
		-ms-flex: none;
		flex: none;
	}
}

@media screen and (max-width: 59.688em) {
	.grid {
		padding: 0.5em 0.5em;
		font-size: 90%;
	}

	.product {
		margin: 0 0.5em 1em;
		min-width: 13em;
	}


	.flexbox .product {
		-webkit-flex: 0 0 13em;
		-ms-flex: 0 0 13em;
		flex: 0 0 13em;
	}

	.flexbox .compare {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.no-flexbox .compare__item,
	.compare__item,
	.compare__item:first-of-type:nth-last-of-type(3),
	.compare__item:first-of-type:nth-last-of-type(3) ~ .compare__item {
		width: 100%;
	}

	.compare__item {
		text-align: left;
		padding: 1.5em;
		font-size: 90%;
	}

	.compare__item .product__image {
		height: 40px;
		float: left;
	}

	.compare__item .product__title {
		margin: 0 40px 0 43px;
		font-size: 0.85em;
		display: block;
	}

	.compare__item .product__year { border-bottom: 2px solid #2E294E; }
	.compare__item .product__region { border-bottom: 2px solid #6D6FD2; }
	.compare__item .product__varietal { border-bottom: 2px solid #4B5267; }
	.compare__item .product__alcohol { border-bottom: 2px solid #3C3474; }

	.action--close {
		padding: 0.5em 0.75em;
	}

	.compare__item .action--buy {
		margin: 0;
		display: block;
	}

	.compare__item span[class^="product__"] {
		display: inline-block;
		padding: 0.25em;
		margin: 0 0 0.5em 0;
		font-size: 0.85em;
	}

	.compare__item:nth-child(odd) {
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
	}

	.compare__item:nth-child(even) {
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
	}

	.compare__item:nth-child(odd) .compare__effect {
		-webkit-transform: translate3d(-250px,0,0);
		transform: translate3d(-250px,0,0);
	}

	.compare__item:nth-child(even) .compare__effect {
		-webkit-transform: translate3d(250px,0,0);
		transform: translate3d(250px,0,0);
	}
}
